@tailwind base;
@tailwind components;
@tailwind utilities;



.overflow-x-scroll::-webkit-scrollbar {
  width: 5px;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ce51603a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ce516071;
}

html {
    font-family: Lato, sans-serif;
    scroll-behavior: smooth;
}

canvas {
    height: 100vh !important;
    width: 100vw !important;
    object-fit: cover;
    object-position: center;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-hover:hover .cross-icon {
    animation: rotate360 0.5s linear;
}

.pop-in-out {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pop-in-out.visible {
    opacity: 1;
    transform: scale(1);
}
